<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Мої завдання</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <h1>Мої завдання</h1>
    <a href="{% url 'task_create' %}" >Створити завдання</a>
    <ul>
        {% for task in tasks %}
        <li style="margin-bottom: 30px;">
            <h2>{{ task.title }}</h2>
            <p>Статус: {{ task.get_status_display }}</p>
            <p>Пріоритет: {{ task.get_priority_display }}</p>
            <a href="{% url 'task_detail' task.pk %}">🔍 Деталі</a>
            <a href="{% url 'task_update' task.pk %}">✏️ Редагувати</a>
            <a href="{% url 'task_delete' task.pk %}">🗑️ Видалити</a>

            <hr>
            <h4>Коментарі:</h4>
            {% for comment in task.comments.all %}
                <p><strong>{{ comment.author.username }}</strong>: {{ comment.content }}</p>
                <form action="{% url 'like_comment' comment.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">
                        ❤️ {{ comment.likes.count }}
                    </button>
                </form>
            {% empty %}
                <p>Немає коментарів.</p>
            {% endfor %}

            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="task_id" value="{{ task.pk }}">
                <button type="submit">💬 Додати коментар</button>
            </form>
            {% else %}
                <p><a href="{% url 'login' %}">Увійдіть</a>, щоб залишати коментарі.</p>
            {% endif %}
        </li>
        {% empty %}
            <li>Ще немає завдань</li>
        {% endfor %}
    </ul>


    <section style="background-color: #f7f6f6;">
        <div class="container my-5 py-5 text-body">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="text-body mb-0">Unread comments (4)</h4>
                <div class="card">
                  <div class="card-body p-2 d-flex align-items-center">
                    <h6 class="text-primary fw-bold small mb-0 me-1">Comments "ON"</h6>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                      <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          lara_stewart
                          <span class="text-body ms-2">Hmm, This poster looks cool</span>
                        </h6>
                        <p class="mb-0">2 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #aaa;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="fas fa-star text-warning me-2"></i>
                          <i class="far fa-check-circle" style="color: #aaa;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          the_sylvester_cat
                          <span class="text-body ms-2">Loving your work and profile! </span>
                        </h6>
                        <p class="mb-0">3 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #aaa;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="far fa-check-circle text-primary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(20).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          mindyy_def
                          <span class="text-body ms-2">Really cool Which filter are you using?
                          </span>
                        </h6>
                        <p class="mb-0">3 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #aaa;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="fas fa-user-plus" style="color: #aaa;"></i>
                          <i class="far fa-star mx-2" style="color: #aaa;"></i>
                          <i class="far fa-check-circle text-primary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(14).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          t_anya
                          <span class="text-body ms-2"><span class="text-primary">@macky_lones</span>
                            <span class="text-primary">@rashida_jones</span> Thanks
                          </span>
                        </h6>
                        <p class="mb-0">4 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #aaa;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="far fa-check-circle text-primary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <section style="background-color: #eee;">
        <div class="container my-5 py-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-start align-items-center">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                      height="60" />
                    <div>
                      <h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
                      <p class="text-muted small mb-0">
                        Shared publicly - Jan 2020
                      </p>
                    </div>
                  </div>
      

      
                  <div class="small d-flex justify-content-start">
                    <a href="#!" class="d-flex align-items-center me-3">
                      <i class="far fa-thumbs-up me-2"></i>
                      <p class="mb-0">Like</p>
                    </a>
                    <a href="#!" class="d-flex align-items-center me-3">
                      <i class="far fa-comment-dots me-2"></i>
                      <p class="mb-0">Comment</p>
                    </a>
                    <a href="#!" class="d-flex align-items-center me-3">
                      <i class="fas fa-share me-2"></i>
                      <p class="mb-0">Share</p>
                    </a>
                  </div>
                </div>
                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                  <div class="d-flex flex-start w-100">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                      height="40" />
                    <div data-mdb-input-init class="form-outline w-100">
                      <textarea class="form-control" id="textAreaExample" rows="4"
                        style="background: #fff;"></textarea>
                      <label class="form-label" for="textAreaExample">Message</label>
                    </div>
                  </div>
                  <div class="float-end mt-2 pt-1">
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm">Post comment</button>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
